---
layout: default
title: Andrew Tramposch | Home
nav: Home
---

<!-- Current Homepage Posting -->
{% for video in site.data.musicvideos %}{% if video.current == "y" %} 
<div class="embed-responsive embed-responsive-16by9">
	<iframe class="embed-responsive-item" src="{{ video.link }}"
		allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
</div> {% endif %}{% endfor %}

<hr>

<!-- Archival Listing of Homepage Posts -->
<h5>Archive</h5>
<div class="accordion" id="accordion">
	{% assign sorted = site.data.musicvideos | sort: 'date' %} {% for video in sorted %} {% if video.current == "n" %}
	<div class="card">
		<div class="card-header" id="{{video.song}}">
			<h5 class="mb-0">
				<button class="btn btn-link text-primary collapsed" data-toggle="collapse" data-target="#{{video.number}}"
					aria-expanded="true" aria-controls="{{video.number}}">
					{{ video.artist }} - '{{ video.song }}' - {{ video.date}}
				</button>
			</h5>
		</div>

		<div id="{{video.number}}" class="collapse" aria-labelledby="{{video.song}}" data-parent="#accordion">
			<div class="card-body">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="{{video.link}}"
						allow="accelerometer; autoplay; encrypted-media; gyroscope;" allowfullscreen></iframe>
				</div>
			</div>
		</div>
	</div> 	{% endif %}{% endfor %}
</div>